{erl_opts, [debug_info]}.
{deps, [
	sync,
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.6"}}}
]}.

{relx, [{release, { dream, "0.1.0" },
         [dream,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
